* {
    margin: 0;
    padding: 0;
}


/* top contacts */

.nav-contacts {
    background-color: #a5f0c5;
    height: 1.8rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #184d47;
}





/* navbar styling */

.nav-contact-icons i{
    font-size: 1.25rem;
    margin-left: 0.25rem;
}

nav {
    background-color: #F5F5F5;
    height: 3.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 0 10rem;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 1rem ;
}

.logo {
    font-family: 'Prompt', sans-serif;
    font-size: 1.5rem;
}