* {
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* top contacts */

.nav-contacts {
    background-color: #a5f0c5;
    height: 1.8rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #184d47;
}





/* navbar styling */

.nav-contact-icons i {
    font-size: 1.25rem;
    margin-left: 0.25rem;
}

nav {
    background-color: #ffffff;
    height: 3.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 0 10rem;
    z-index: 10;
}

nav a {
    color: black;
    margin-right: 1rem;
}

.logo {
    font-family: 'Prompt', sans-serif;
    font-size: 1.8rem;
}

/* hero styling */
.hero {
    height: 620px;
    width: 100%;
    background-color: #264f09;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 15rem;
    z-index: 0;
}

.hero-text {
    justify-self: start;
}

.hero-text p {
    font-size: 0.80rem;
}

.hero-text h1 {
    font-size: 2.7rem;
}

.hero-img {
    height: 37rem;
}

.hero-text {
    color: #ffffff;
    z-index: 2;
}


.leaf1 {
    position: absolute;
    top: 360px;
    left: -20px;
    transform: rotate(-90deg);
    height: 29rem;
    z-index: 1;
}


.leaf2 {
    position: absolute;
    top: 440px;
    right: -0px;
    transform: rotate(95deg);
    height: 28rem;
}

/* featured products section after hero */
.new-container {
    width: 100%;
    height: 43rem;
    /* background-color: #f7f7f7; */
    background-color: #fffbce;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 10rem 0rem 10rem;
}

.content-section .card {
    flex: 1;
    margin: 20px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.content-section img {
    width: 100%;
}

.section-heading {
    font-size: 2.5rem;
}

.product-btn {
    height: 3rem;
    width: 8rem;
    background-color: #264f09;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    border-radius: 5%;
}

.product-btn a {
    color: white;
    font-weight: 600;
}




/* testimonial styling */
.testimonial {
    width: 100%;
    height: 450px;
    background-color: rgba(38, 79, 9, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a5f0c5;
}

.testimonial h2 {
    margin-bottom: 1rem;
}

.test-section {
    display: flex;
}

.test-card {
    height: 18rem;
    width: 28rem;
    background: rgba(116, 191, 64, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(116, 191, 64, 0.05);
    margin: 20px;
    border-radius: 2%;
}



/* gallery section */
.gallery {
    height: 650px;
    background-color: #fffbce;
    text-align: center;
    padding-top: 2rem;
}

.gallery-content {
    display: grid;
    grid-template-rows:repeat(12,1fr);
    grid-template-columns: repeat(6,1fr);
    height: 420px;
    margin: 2.5rem 2rem;
    row-gap: 0.75rem;
    column-gap:0.5rem;
}

.gcard1 {
    background-color: #a5f0c5;
    grid-row:1/13 ;
    background-image: url(./products/product1.jpg);
    background-size: 150% 100%;
    background-position: 50% 50%;

}
.gcard2 {
    background-color: #93c732;
    grid-row:1/9;
    background-image: url(./products/product2.jpg);
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.gcard3 {
    background-color: #e6871b;
    grid-row:9/13 ;
    background-image: url(./products/lproduct1.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 50% 50%;
}
.gcard4 {
    background-color: #e61ba2;
    grid-row:1/5 ;
    background-image: url(./products/lproduct2.jpg);
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.gcard5 {
    background-color: #1b58e6;
    grid-row:5/13 ;
    background-image: url(./products/product5.jpg);
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.gcard6 {
    background-color: #1be6ba;
    grid-row:1/13 ;
    background-image: url(./products/product6.jpg);
    background-size: 120% 90%;
    background-position: 50% 50%;
}
.gcard7 {
    background-color: #402507;
    grid-row:1/7 ;
    background-image: url(./products/product7.jpg);
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.gcard8 {
    background-color: #e61b69;
    grid-row:7/13 ;
    background-image: url(./products/product8.jpg);
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.gcard9 {
    background-color: #e6d21b;
    grid-row:1/13 ;
    background-image: url(./products/product9.jpg);
    background-size: 120% 90%;
    background-position: 50% 50%;
}

.gallery-product-btn {
    height: 3rem;
    width: 8rem;
    background-color: #264f09;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.gallery-product-btn a {
    color: white;
    font-weight: 600;
}

.product-link{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}